*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
  background: none;
}
@font-face {
  font-family: 'TTLakes';
  src: url(../fonts/TTLakes-Medium.ttf);
}
body{
  font-family: 'TTLakes';
  background-color: #F8F8F8;
}

@media (min-width: 320px) { /*Мобильный*/
  .header{ 
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #D9FFF5;
  }
  .button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
  .buttons{
    display: flex;
    gap: 16px;
  }
  .list-reset{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
  .header__burger{
    margin-left: 16px;
  }
  .header__logo{
    margin: 24px 16px 24px 16px;
  }
  .header__repair-buttons::before{
    content: "";
    border-left: 3px solid #EAEAEA;
    border-radius: 1px;
    margin-right: 12px;
  }
  .header__user-buttons{
    display: none;
  }
  .layer__status-buttons{
    display: none;
  }
  .layer{
    display: flex;
  }
  .layer__title{
    padding-top: 24px;
    padding-left: 0;
  }
  .layer__title::before{
    content: "";
    border-right: 3px solid #41F6D7;
    border-radius: 3px;
    margin-right: 20px;
  }
  .title{
    color: #1B1C21;;
  }
  .main__nav{
    padding-left: 16px;
    padding-right: 0;
  }
  .nav__list{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 32px;
    padding-bottom: 10px;
    gap: 20px;
  }
  .about__content{
  padding: 24px 16px 16px 24px;
  }
  .about__show-more{
    font-family: 'TTLakes';
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 700;
    padding-top: 16px;
    font-size: large;
  }
  .show-more__img{
    position: relative;
    top: 7px;
  }
  .about__img{
  width: 320px;
  height: 230.805px;
  flex-shrink: 0;
  padding-bottom: 24px;
  }
  .about__use{
    display: none;
  }
}

@media (min-width: 770px){ /*Планшет*/
  .header__repair-buttons::before{
    display: none;
  }
  .header__burger{
    margin-left: 24px;
  }
  .header__burger::after{
    content: "";
    border-right: 3px solid #EAEAEA;
    border-radius: 1px;
    margin-left: 20px;
    height: 40px;
    position: absolute;
  }
  .header__logo{
    margin-left: 41px;
  }
  .header__user-buttons{
    display: flex;
    margin-left: 250px;
  }
  .header__repair-buttons{
    margin-left: 20px;
  }
  .header__user-buttons::after{
    content: "";
    border-left: 3px solid #EAEAEA;
    border-radius: 1px;
  }
  .main__nav{
    padding-left: 24px;
    padding-right: 0;
  }
  .nav__list{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 40px;
    padding-bottom: 10px;
    gap: 30px;
  }
  .about{
    display: flex;
  }
  .about__content{
  padding: 32px 48px 16px 24px;
  }
  .about__text::after{
    content: 'Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера';
  }
  .about__show-more{
    font-family: 'TTLakes';
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 700;
    padding-top: 10px;
  }
  .show-more__img{
    position: relative;
    top: 7px;
  }
  .about__img{
  width: 360px;
  height: 259.655px;
  flex-shrink: 0;
  padding: 32px 25px 15px 0;
  }
  .about__use{
    display: none;
  }
}

@media (min-width: 1120px) { /*Компьютер*/
  .header{
    display: none;
  }
  .list-reset{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .layer__status-buttons{
    display: flex;
    gap: 32px;
    padding-top: 42px;
    padding-right: 32px;
  }
  .button{
    font-family: 'TTLakes';
  }
  .button__text{
    font-weight: 500;
    padding-right: 8px;
    font-size: large;
    position: relative;
    bottom: 10px;
  }
  .layer__title::before{
    content: "";
    border-right: 3px solid #41F6D7;
    border-radius: 3px;
    margin-right: 30px;
  }
  .layer__title{
    padding-top: 42px;
  }
  .layer{
    justify-content: space-between;
  }
  .main__nav{
    padding-left: 32px;
    padding-right: 37px;
  }
  .nav__list{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 28px;
    padding-bottom: 9px;
    gap: 100px;
    font-size: large;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .about__content{
  padding: 65px 36px 16px 34px;
  }
  .about__show-more{
    font-family: 'TTLakes';
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 700;
    padding-top: 10px;
  }
  .show-more__img{
    position: relative;
    top: 7px;
  }
  .about__img{
    border-radius: 3%;
    width: 531.346px;
    height: 383.241px;
    flex-shrink: 0;
    padding: 60px 28px 60px 0;
  }
  .about__use{
    display: block;
    text-decoration: none;
    position: relative;
    bottom: 20px;
    left: 32px;
    color: #7E7E82;
    font-weight: 500;
    line-height: 24px;
    font-size: large;
  }
  .about__text::after{
    content: 'Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.';
  }
}
.nav__link{
  text-decoration: none;
  list-style-type: none;
  color: #7E7E82;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: -0.2px;
}
.nav__link--active{
  background: white;
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  padding: 8px 21px 7px 22px;
}



.block__container{
  background-color: whitesmoke; /*чтобы видеть границы контейнера*/
  width: 320px;
  padding: 19px 24px 32px 24px;
}
.block__main__nav{
  height: 100%;
}
.block__burger-cross{
  margin-right: 16px;
  bottom: 7px;
  position: relative;
}
.block__search{
  margin-left: 78px;
  bottom: 7px;
  position: relative;
}
.main-nav__menu{
  display: block;
  padding-top: 50px;
  padding-bottom: 236px;
}
.menu__items{
  margin-bottom: 32px;
}
.menu__link{
  color:  #1B1C21;
  font-weight: 500;
}
.menu__link--active{
  color: #7E7E82;
}
.menu__link--active::before{
  content: '';
  border-right: 3px solid #41F6D7;
  border-radius: 3px;
  position: relative;
  right: 24px;
}
.main-nav__user-buttons{
  display: flex;
  gap: 16px;
}
.button:hover{
  filter: hue-rotate(230deg);
}
.logo:hover{
  filter: brightness(80%);
}
.main-nav__contact{
  display: flex;
  flex-direction: column;
}
.contact__mail{
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 500;
}
.contact__tel{
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; 
  letter-spacing: -0.6px;
}
.contact a{
  color: #1B1C21;
}
.main-nav__lang{
  display: flex;
  gap: 7px;
}
.lang__link{
  color: #1B1C21;
}
.lang__link--active{
  color: #7E7E82;
}