*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    background: none;
}
@font-face{
    font-family: 'TTLakes';
    src: url(../fonts/TTLakes-Medium.ttf);
}
body{
    font-family: 'TTLakes';
    background-color: white;
}
.header__container{
    /*position: fixed?*/
    background-color: whitesmoke; /*чтобы видеть границы контейнера*/
    width: 320px;
    height: 1024px;
    padding: 19px 24px 32px 24px;
}
.header__main__nav{
    height: 100%;
}
.header__burger-cross{
    margin-right: 17px;
    bottom: 7px;
    position: relative;
}
.header__search{
    margin-left: 78px;
    bottom: 7px;
    position: relative;
}
.main-nav__menu{
    display: block;
    padding-top: 50px;
    padding-bottom: 236px;
}
.menu__items{
    margin-bottom: 32px;
}
.menu__link{
    color:  #1B1C21;
    font-weight: 500;
}
.menu__link--active{
    color: #7E7E82;
}
.menu__link--active::before{
    content: '';
    border-right: 3px solid #41F6D7;
    border-radius: 3px;
    position: relative;
    right: 24px;
}
.main-nav__user-buttons{
    display: flex;
    gap: 16px;
}
.button{
    cursor: pointer;
}
.button:hover{
    filter: hue-rotate(230deg);
}
.logo:hover{
    filter: brightness(80%);
}
.main-nav__contact{
    display: flex;
    flex-direction: column;
}
.contact__mail{
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: 500;
}
.contact__tel{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.6px;
}
.contact a{
    color: #1B1C21;
}
.main-nav__lang{
    display: flex;
    gap: 7px;
}
.lang__link{
    color: #1B1C21;
}
.lang__link--active{
    color: #7E7E82;
}
